@import "../node_modules/bootstrap/scss/bootstrap";
@import "./variables.scss";

.jumbotron {
    background-color: $light-blue;
    margin: 5px;
}
.card {
    margin: 5px;
    &-title {
        width: 300px;
    }
}
.scroll {
    height: 500px;
    overflow: scroll;
    justify-content: center;
}